<header class="navbar">
    <div class="navbar-logo">
        <img src="../assets/images/navigation_bar/logo.png" alt="Furniro Logo" class="logo">
        <span class="logo-text">Furniro</span>
    </div>
    <nav class="navbar-links">
        <a href="./index.html" class="nav-link ">Home</a>
        <a href="./category.html" class="nav-link">Categories</a>
        <a href="./contact.html" class="nav-link">Contact</a>
    </nav>
    <div class="navbar-icons">
        <a href="./login.html">
            <img src="../assets/images/navigation_bar/user_icon.svg" alt="User" class="icon">
        </a>
        <img src="../assets/images/navigation_bar/search_icon.svg" alt="Search" class="icon">
        <img src="../assets/images/navigation_bar/favorite_icon.svg" alt="Favorite" class="icon">
        <a href="../templates/cart.html" class="cart-link">
        <img src="../assets/images/navigation_bar/cart_icon.svg" alt="Cart" class="icon">
        </a>
    </div>
</header>